// css reset.
*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: white;
    color: black;
}

.converter {
   width: 70%;
   margin: 3rem auto;
   background-color: whitesmoke;
   padding: 1rem;
   border-radius: .7rem;

   &__heading {
       text-transform: uppercase;
       text-align: center;
       margin: 0 0 1rem 0;
   }

   &__inputs {
       padding: 1rem;
       background-color: rgb(241, 227, 201);
   }

   &__kilometers,
   &__meters {
       display: block;
       width: 80%;
       margin: 2rem auto;

       border: none;
       outline: none;
       border-radius: .2rem;
       padding: .3rem;
   }

   &__kilometers::placeholder,
   &__meters::placeholder {
      text-transform: capitalize;       
   }

}


